body {
    background-color: rgb(255, 212, 230);
    color: black;
    text-align: center;
}

#carinhosa {
    width: 300px;
    margin: auto;
    display: block;
}

#unica {
    width: 250px;
}

#divertida {
    width: 311px;
}

#incrivel {
    margin: 50px auto;
    padding: 20px;
    max-width: 1160px;
    border-radius: 8px;
    align-items: center;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
}

hr {
    width: 500px;
}

section {
    background: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
}

/* ====== CSS do Carrossel ====== */
.carrossel-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
    max-width: 90%;
    margin: 0 auto;
}

.carrossel-container::-webkit-scrollbar {
    height: 8px;
}

.carrossel-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.foto {
    display: inline-block;
    width: 250px;
    height: 160px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
